<!-- Login Page -->
<section id="login-section" class="narrow">

    <h1 class="item">Login</h1>

    <div class="item padded align-center">

        <form class="aligned" method="POST" action="/login">

            <label>
                <!-- TODO repair before submit-->
                <span>Email</span>
                <input type="text" name="email" value="admin@abv.bg">
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password" value="123">
            </label>

            <div class="align-center">
                <input class="action" type="submit" value="Sign In">
            </div>

        </form>

    </div>

</section>