<!--If there are publications in the database, show the following view for each created publication-->
<article class="content-publication">
    <h1>{{title}}</h1>

    <!--If no one has shared the post yet, the number should be zero -->
    <p>Number of people shared the publication: {{shares.length}}</p>
    <a href="/details/{{id}}" class="image-details">View publication</a>
</article>

<!--If no one has shared the post yet, the number should be zero -->
<!--<p>Number of people shared the publication: 0</p>-->

<!--Otherwise, show the number -->

<!--If there are no publications yet, show:-->
<!--<article class="no-publication">
                        <h1>There are no publications yet.</h1>
                        <a href="#" class="view-gallery">View Gallery</a>
                    </article>-->