<div id="cars">
  <h1>Browser</h1>
  <form action="/" method="GET">
    <input type="text" class="search" name="search" placeholder="Search...">
    <input type="number" name="from" class="difficulty" placeholder="Price from...">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Price to...">
    <input type="submit" value="search">
  </form>
  {{#each cars}}
  {{> carPreview}}
  {{else}}
  <p>No Cars in database <a class="redirectBtn" href="/create">Publish first Car!</a></p>
  {{/each}}
  <script src="/static/js/app.js"></script> 

</div>